:host {
  display: block;
}


p {
  font-size: 20px;
}

.full-container {
  background: #212121;
  position: relative;
  margin: 15px 20px 0 5px;
  background: #fff;
  box-shadow: 0 2px 8px -2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  height: 110px;
  width: 210px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .task-container {
    transition: all 0.3s;
    cursor: default;
    background: #4e4e4e;
    border-radius: 3px;
    border: 0.5px solid #c7c7c7;

  }

  // &:hover {
  //   box-shadow: inset 0 0 0 2px #c1c9c9;
  // }
}


.parent {
  position: relative;
  height: 160px;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
}




.selected {
  background-color: rgba(229, 234, 236, 0.667);
}


.task-name-description{
  color: #d6d6d6;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 10px;
  line-height: 22px;
  height: 100%;
}



// .my-centered-dialog {
//   max-width: 80vw;
//   .mat-dialog-container {
//     max-width: none;
//     background: #cccccc;
//   }
// }

// .mat-dialog-container {
  // padding: 0px !important;
  // background: #cccccc;
  // width: 400px;
// }


.task-options{
  color :#d6d6d6;
  display: flex;
  justify-content: flex-end;
  // padding-bottom: 5px;
}

.delete_icon{
  color :#d6d6d6;
  opacity: 0.4;
  margin-right: 5px;
  &:hover{
    opacity: 1;
  }
}

.move-to-daily-icon{
  opacity: 0.4;
  margin-right: 5px;
  &:hover{
    opacity: 1;
  }
}

.done-icon{
  color :#d6d6d6;
  opacity: 0.4;
  margin-right: 5px;
  &:hover{
    opacity: 1;
  }
}

.testing{
  transition: all 0.5s;
}

.date-options{
  color :#d6d6d6;
  display: flex;
    justify-content: space-between;
    margin: 0px 5px;
}

.date{
  opacity: 0.3;
  font-style: 15px;
}