:host {
  display: block;
}


p {
  font-size: 20px;
}

.full-container {
  position: relative;
  margin: 15px 20px 0 5px;
  background: #fff;
  box-shadow: 0 2px 8px -2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  height: 110px;
  width: 210px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .task-container {
    transition: all 0.3s;

    .task-name {
      font-style: 18px;
      font-weight: bold;
      padding: 10px 12px 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &:hover {
    box-shadow: inset 0 0 0 2px #c1c9c9;
    margin: 13px 20px 0 5px;
    transition: all 0.3s;
  }
}


.parent {
  position: relative;
  height: 160px;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
}




.selected {
  background-color: rgba(229, 234, 236, 0.667);
}


.task-description{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 10px;
  line-height: 22px;
  height: 100%;
}
