<div class="full-container">
    <div mat-raised-button class="task-container parent box-limit" (mouseenter)="hover_on()" (mouseleave)="hover_off()" (click)="openDialog()">
        <div class="task-name-description font-weight-bold">
        <span>{{task.title}}</span>
        </div>
        <div class="task-name-description">
            {{task.description}}
        </div>
        <div class="date-options">
            <div class="date">
                <span>{{this.task.date | date : "M/d/yy"}}</span>
            </div>
            <div class="task-options" *ngIf="this.mouse_on_task">
                <div class="delete_icon" (click)="delete_task()">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </div>
                <div class="move-to-daily-icon" (click)="move_task_to_daily()" *ngIf="this.listService.current_list_title != 'Daily Tasks' && this.listService.current_list_title != 'Compeleted'">
                    <i class="fa fa-star" aria-hidden="true"></i>
                </div>
                <div class="done-icon" (click)="task_done()" *ngIf="this.listService.current_list_title != 'Compeleted'">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
</div>
