<div class="example-container">
    <mat-toolbar color="primary" class="example-toolbar">
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <h1 class="example-app-name" >Responsive App</h1>
    </mat-toolbar>
  
    <mat-sidenav-container class="example-sidenav-container">
      <mat-sidenav #snav>
        <mat-nav-list>
          <a mat-list-item routerLink="." (click)="go_to_list(list.title)" *ngFor="let list of lists">{{list.title}}</a>
          <form [formGroup]="list" class="new-list-form">
              <input class="new-list-input" formControlName="title" type="text" matInput placeholder="new list">
              <mat-icon matSuffix (click)="on_submit(list.value)" >add</mat-icon>
          </form>
        </mat-nav-list>
      </mat-sidenav>
  
      <mat-sidenav-content>
          <app-new-task *ngIf="this.listService.is_done == false"></app-new-task>
        <div class="row no-gutters all-items-box all-files-folders">
          <app-task class="col-auto h-100"  *ngFor="let task of tasks" [value]="task"></app-task>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>

