<div class="example-container">
    <mat-toolbar color="primary" class="example-toolbar">
      <div class="menu-and-title">
        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
        <h1 *ngIf="editing_mode == false"  class="example-app-name">{{this.listService.current_list_title}}</h1>
        <input *ngIf="editing_mode == true" #title_input class="list-title-input" type="text" value="{{this.listService.current_list_title}}">
        </div>
        <div class="delete-edit" *ngIf="this.listService.current_list_title != 'Daily Tasks' && this.listService.current_list_title != 'Compeleted'">
        <div class="list-title-edited" (click)="leave_edit_mode()" *ngIf="editing_mode == true">
          <i class="fa fa-check" aria-hidden="true"></i>
        </div>
        <div class="edit-list" (click)="enter_edit_mode()" *ngIf="editing_mode == false">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </div>
        <div class="delete-list" (click)="delete_list()">
          <i class="fa fa-trash-o" aria-hidden="true"></i>
        </div>
      </div>
    </mat-toolbar>
  
    <mat-sidenav-container class="example-sidenav-container">
      <mat-sidenav #snav>
        <mat-nav-list>
          <a mat-list-item routerLink="." (click)="go_to_list(list.title); snav.close()" *ngFor="let list of lists">{{list.title}}</a>
          <form [formGroup]="list" class="new-list-form">
              <input class="new-list-input" formControlName="title" type="text" matInput placeholder="new list">
              <mat-icon matSuffix (click)="create_list(list.value); snav.close()" >add</mat-icon>
          </form>
        </mat-nav-list>
      </mat-sidenav>
  
      <mat-sidenav-content>
          <app-new-task *ngIf="this.listService.is_done == false"></app-new-task>
        <div class="row no-gutters all-items-box all-files-folders">
          <app-task class="col-auto h-100"  *ngFor="let task of tasks" [value]="task"></app-task>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>

