.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-is-mobile {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  .example-toolbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background :#3a3a3a;
    border-bottom: 1px solid white;
  }
  h1.example-app-name {
    // width: 40px;
    // height: 40px;
    align-items: center;
    display: flex;
    // padding: 3px 0px 0px 13px;
  }
  
  .example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }
  mat-sidenav-content{
    background: #3a3a3a
  }
  
  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }


  

.all-files-folders {
  justify-content: flex-start;
  margin: 20px 0 0 60px;
  // position: absolute;
  // top: 0;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-form-field {
  margin-right: 12px;
}

.new-list-input{
  border: none;
  border-bottom: 1px solid black;
  padding-bottom: 8px;
  outline: none;
}

.mat-icon{
  cursor: pointer;
}

.new-list-form{
  display: flex;
    margin: 20px 12px 2px 16px;
}

.delete-list{
  cursor: pointer;
  margin-right: 25px;
}

.edit-list{
  cursor: pointer;
  margin-right: 25px;
}


.menu-and-title{
  display: flex;
    flex-direction: row;
}

.delete-edit{
  display: flex;
  align-items: center;
}

.list-title-edited{
  cursor: pointer;
  margin-right: 25px;
}

.list-title-input{
  padding-top : 2px;
  color: white;
  outline: none;
  background: none;
  border: none;
  border-bottom: 1px solid white;
}