.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-form-field {
  margin-right: 12px;
}


textarea{
    height: 20px;
}

mat-expansion-panel{
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  width: 25%;
  margin: 0 auto
}

mat-panel-description{
  justify-content: flex-end !important;
}

// .panel-header{
//   margin-top: 10px;
//   margin-bottom: 10px;
// }

.panel{
  border-bottom-right-radius: 30px !important;
  border-bottom-left-radius: 30px !important;
}