.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-form-field {
  margin-right: 12px;
}


textarea{
    height: 20px;
}

mat-expansion-panel{
  width: 25%;
  margin: 0 auto
}

mat-panel-description{
  justify-content: flex-end !important;
}


.panel{
  border-radius: 0 0 20px 20px !important;
}

input{
  width: 120px;
}

mat-icon{
  border: 1px solid black;
  border-radius: 20px;
  justify-content: center;
  display: flex;
  align-items: center;
  background: #d0d0d0;
  &:hover{
    background: #828282;
  }
}