.my-centered-dialog {
    max-width: 80vw;
  
    .mat-dialog-container {
      max-width: none;
    }
}


input{
    outline: none;
    width: 100%;
    border: none;
}

.mat-form-field{
    width: 100%;
}

.task-title{
    font-weight: bold;
    font-size: 25px;
}


.task-options{
    display: flex;
    justify-content: flex-end;
    // padding-bottom: 5px;
  }
  
  .delete_icon{
    opacity: 0.4;
    margin-right: 5px;
    &:hover{
      opacity: 1;
    }
  }
  
  .move-to-daily-icon{
    opacity: 0.4;
    margin-right: 5px;
    &:hover{
      opacity: 1;
    }
  }
  
  .done-icon{
    opacity: 0.4;
    margin-right: 5px;
    &:hover{
      opacity: 1;
    }
  }
  
  
  .date-options{
    display: flex;
      justify-content: space-between;
      align-items: center;
  }
  
  .date{
    width: 70%;
  }